* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  text-align: center;
}

h1 {
  font-size: 8rem;
}

p {
  margin: 10px 0 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background: white;
  color: #764ba2;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #ddd;
}
